@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap');



:root{
  --textFirstColor:#000000;
  --textSecondColor:#4A4B4C;
  --footerTextColor:#ffff;
  --textThirdColor:#898989;
  --card-color:#F4F5F7;
  --allnewsBtn:#EAEAEA;
  --footerColor:#469264;
  --footerText:#ffff;
  --primaryColor: #3C7955;
  --secondaryColor:#DAE9E0;
  --categoryColor:#DAE9E0;
  --categoryItemColor:#F4F5F7;
  --categoryaTextC0lor:#777777;
  --selectColor:#ffff;
  --liColor: #F4F5F7;
  --appBg: #FFFFFF;
  --exColor:#BEC0C1;
  --selectbg:#fff;

  --borderCategoryDate: 1px solid #F4F5F7 !important;
}

.darkMode{
  --textFirstColor:#ffff;
  --appBg:#16171B;
  --textSecondColor:#959595;
  --card-color: #222327;
  --allnewsBtn:#EAEAEA;
  --footerColor:#469264;
  --footerText:#ffff;
  --categoryColor:#3F534C;
  --categoryaTextC0lor:#FFFFFF;
  --categoryItemColor:#000000;
  --exColor:#0000;
  --textFirstColor:#ffff;
  --borderCategoryDate: none;
  --selectbg:#16171B;
  --liColor:rgba(255,255,255,0.3);

}
::-webkit-scrollbar{
  width: 0;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #222327;
}
ul,ol,li{
  list-style: none;
  padding: 0;
  margin: 0;
}


.container{
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
}
body{
  font-family: 'Manrope';

}
